@model IEnumerable<api_productos.Models.Marca>

@{
    ViewData["Title"] = "Marcas";
}

<h1>Marcas</h1>

<p>
    <a class="btn btn-success" asp-action="Create">Añadir Marca</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdMarca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaModificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Baja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdMarca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Baja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaBaja)
            </td>
            <td>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.IdMarca">Editar</a> |
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.IdMarca">Detalles</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IdMarca">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
